@charset "utf-8";

body {
  background: #efefef;
  text-align: left;
  font-family: sans-serif;
}

.top-nav {
    background-color: #333;
    width: 100%;
    min-height: 60px;
}

main {
  background-color: #FFF;
  max-width: 800px;
  margin: 0 auto;
  padding: 1em;
  min-height: 100vh;
}

h1 {
    margin: 0 auto 1em;
}